.filter-heading{
    padding: 1rem;
    font-size: var(--text-size-m);
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.filters{
    padding: 0.5rem 0rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--white);
    box-shadow: 5px 10px var(--gray);
    margin: 0.5rem 0.75rem;
}

.grid{
    grid-template-columns: 1.25fr 5fr;
}

.filter-div{
    border-top: 0.5px solid black;
    padding: 1rem 1rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;

}

.filter-type{
    font-size: calc(var(--text-size-m) - 6px);
    font-weight: bold;
    padding-bottom: 1rem;
}

.input-div{
    display: flex;
    flex-direction: column;
    font-size: calc(var(--text-size-m) - 6px);
}
label{
    padding: 0.25rem;
}