.saved-as-fav{
    margin-left: -22.5%;
    margin-top: 2.5%;
}

.saved-as-fav-icon{
    color: red;
    background-color: var(--white);
    border-radius: var(--border-radius-f);
}

.wishlist-management-section{
    margin:1rem;
    gap: 5%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.card-img{
    height: 17.5;
}
